In [3]:
from databricks.connect import DatabricksSession as SparkSession

spark = SparkSession.builder.serverless().getOrCreate()
# spark.table("samples.nyctaxi.trips").show(10, False)

In [1]:
sql("SELECT * FROM samples.nyctaxi.trips LIMIT 10")

NameError: name 'sql' is not defined